<h1><%= @restaurant.name.titleize %></h1>
<br>

<%#= @restaurant.tag_list.first %>
<%#= link_to @restaurant.tag_list.first, tagged_path(@restaurant.tag_list.first)  %>

<% @restaurant.tag_list.each do |tag| %>
  <%= link_to tag, tagged_path(tag: tag) %>
<% end %>
<br>
<br>
<p>Vous aimerez aussi</p>
<% @related_restaurants.each do |restaurant| %>
  <p><%= link_to restaurant.name, restaurants_path(restaurant) %></p>
<% end %>



<!-- CARTE DU RESTAURANT -->

<h4>Carte du restaurant</h4>

<% sections = %w(Entrée Plat Dessert) %>

<% sections.each do |section| %>
  <h5><%= section.titleize%>s</h5>
  <% @restaurant.items.each do |item| %>
    <% if item.category == section %>
      <p><%= item.name.titleize %></p>
      <p><small><%= item.price %></small></p>
      <p><small> <i><%= item.description %></small></i> </p>
    <% end %>
  <% end %>
<% end %>



<%= link_to 'Ajouter un plat', new_restaurant_item_path(@restaurant) %>
<br>

<%= link_to 'restaurants', restaurants_path %>
