<!DOCTYPE html>
<html>
  <head>
    <title>Restoscasher</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= params[:controller] %> <%= params[:action] %>">


    <%= render 'shared/navbar' %>


    <%= yield :above_container %>
    <%= render 'components/flashes' %>
    </div>

    <p class="alert"><%= alert %></p>
    <div class="container" style="min-height: 80vh">
      <%= yield %>
    </div>
    <%= yield :below_container %>

    <%= render '/components/footer' %>



     <%= javascript_include_tag "application" %> <!-- from app/assets/javascripts/application.js -->
  <%= javascript_pack_tag "application" %>    <!-- from app/javascript/packs/application.js -->
  </body>
</html>
